body {
	background-image: url("images/clouds.jpg");
}

div.App {
	margin: auto;
	text-align: center;
}

h1#title {
	text-transform: uppercase;
	font-family: monospace;
	font-weight: bold;
	font-size: 48px;
	color: #fff;
	text-shadow: 2px 2px #1c59c9;
	letter-spacing: 2px;
}

.city {
	width: 60%;
	padding: 6px;
	margin: 4px;
	font-family: monospace;
	font-size: 16px;
	border: 2px solid #e6df1e;
	color: #1c59c9;
	text-align: center;
}

#submit {
	padding: 6px;
	margin: 4px;
	width: 60%;
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background-color: #159fd1;
	border: 2px solid #056587;
	font-weight: normal;
	text-transform: uppercase;
}

.weatherInfo {
	list-style-type: none;
	font-size: 20px;
	text-align: left;
}