div.App {
	margin: auto;
	text-align: center;
}

.text-white, .fiveDays {
	position: relative;
}

h1#title {
	padding-top: 20px;
	text-transform: uppercase;
	font-family: monospace;
	font-weight: bold;
	font-size: 48px;
	color: #1c59c9;
	letter-spacing: 2px;
}

.badge-primary, .city, #submit {
	width: 100%;
	margin: 0px;
}

.sky {
	opacity: 0.1;
}

.city {
	padding: 6px;
	font-family: monospace;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid #e6df1e;
	color: #1c59c9;
	text-align: center;
}

#submit {
	text-transform: uppercase;
	background-color: #1c59c9;
}

.info span {
	color: #0477bf;
	font-weight: bold;
}

.weatherPhoto {
	height: 150px;
	width: 100px;
}

strong {
	color: #000;
	text-align: left;
}